@font-face {
    font-family: 'Old newspaper font';
    src: url('Oldnewspaperfont.woff2') format('woff2'),
        url('Oldnewspaperfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

